* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2e2e2e;
    color: white;
}

#temperature {
    border-radius: 20px;
    font-size: 1.3rem;
    font-weight: 300;
    text-align: center;
    width: 20rem;
}

button[type='button'] {
    border-radius: 50%;
}

button[type='submit'] {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #ffffff;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    text-align: center;
    transition: all 0.2s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}
